    // HEADER - - - - - - - - - - - - -- - - - -  - - - - - - -
.nav-ul {
    list-style-type: none;
    li {
        margin-right: 30px;
        font-family: 'Sintony', sans-serif;
        font-size: 14px;
        font-weight: bold;
        a {
        padding-left: 0px!important;
        padding-right: 0px!important;
        color: #2c465a!important;
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

.book-wr {
    .book-your-table {
        width: 200px;
        height: 45px;
        background: #fea100;
        border: solid 0px;
        border-radius: 5px;
        position: relative;
        span {
            border: solid 1px white;
            border-radius: 5px;
            margin: 2px;
            font-family: 'Sintony', sans-serif;
            font-size: 14px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            p {
                margin: auto!important;
                font-family: 'Sintony', sans-serif;
                font-weight: bold;
                color: white;
                font-size: 14px;
            }
            img {
                height: 17px;
                margin: auto;
                margin-right: 0;
            }
        }
    }
    .ulList {
        padding: 0;
        position: relative;
        li {
            margin: 0;
            list-style: none;
            display: none;
            color: red;
        }
    }
    .ulList:after {
        content: '▼';
        font-size: 50%;
        color: black;
        position: absolute;
        bottom: 0px;
        left: -5px;
    }
}

.opens {
    display: block!important;
    position: absolute;
    top: 50px;
    right: 15px;
    width: 10%;
    height: 100%;
    margin-bottom: 5px;
}

.close:after {
    content: '⚑';
    position: relative;
    top: -60px;
    right: 15px;
    font-size: 50%;
    color: black;
}

.slider-wr {
    height: 570px;
    .slider {
        height: inherit;
        .slider-buttons {
            margin-left: 30px;
            box-sizing: border-box;
            top:50%;
            .btn {
                position: relative;
                border: solid 2px #fea100;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: none;
                padding: 0;
                margin-bottom: 4px;
                .dot {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    border: solid 1px #fea100;
                    border-radius: 50%;
                    width: 4px;
                    height: 4px;
                    margin: auto;
                    background: #fea100;
                }
            }
        }
    }
    
}
.call-info-wr {
    display: block;
    height: 100px;
    background: #edf1f3;
    .container {
        height: inherit;
        .row {
            height: inherit;
            .sticker-wr {
                height: inherit;
                position: relative;
                .food-sticker {
                    position: absolute;
                    bottom: 20px;
                    width: 200px;
                    height: 200px;
                    background: #fe4c8d;
                    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 70%, 0 100%);
                    clip-path: polygon(0px 0, 200px 0, 200px 100%, 100px 85%, 0 100%);
                    .line {
                        position: relative;
                        margin: 10px;
                        border: dashed 2px #ffa6c6;
                        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69%, 0 100%);
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
                        height: 175px;
                        width: 180px;
                        p {
                            font-family: "Sintony", sans-serif;
                            font-size: 22px;
                            font-weight: bold;
                            position: absolute;
                            top: 30%;
                            right: 15%;
                            bottom: 0;
                            left: 13%;
                            text-align: center;
                            color: white;
                            
                        }
                    }
                }
                .circle-wr {
                    position: absolute;
                    bottom: 170px;
                    left:26%;
                    z-index: 600;
                    .circle {
                        width: 80px;
                        height: 80px;
                        border: solid 4px #fe4c8d;
                        border-radius: 50%;
                        background: black;
                        img {
                            margin: 9px 8px 0 13px;
                        }
                    }
                }
            }
            .call-info {
                .reviews-wr {
                    margin-right: 30px;
                    width: 210px;
                    p {
                        font-family: "Sintony", sans-serif;
                        font-weight: bold;
                        color: #14141d;
                        font-size: 16px;
                        line-height: 1rem;
                        margin-left: 5px!important;
                        margin-right: 17px!important;
                        span {
                            color: #fea100;
                        }
                    }
                    .btn-wr {
                        background: #fea100;
                        width: 45px;
                        height: 45px;
                        border: solid 0px;
                        border-radius: 50%;
                        position: relative;
                        button {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 35px;
                            width: 35px;
                            margin: auto;
                            border: solid 1px white;
                            border-radius: 50%;
                            background: none;
                        }
                        button::after {
                            position: absolute;
                            top: -2px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            content: ">";
                            font-weight: bold;
                            font-size: 22px;
                            margin: auto;
                        }
                    }
                }
                .home-deliver {
                    line-height: 1rem;
                    margin-left: 35px;
                    width: 220px;
                    padding: 13px !important;
                    position: relative;
                    span {
                        font-size: 14px;
                        font-family: "Sintony", sans-serif;
                        font-weight: bold;
                        margin: auto auto auto 10px;
                        span {
                            color: #fea100;
                        }
                    }
                }
                .home-deliver:after {
                    content: "";
                    position: absolute;
                    top: 25%;
                    right: 7%;
                    border: solid 1px #7d8587; 
                    height: 35px;
                }
                .home-deliver:before {
                    content: "";
                    position: absolute;
                    top: -17%;
                    left: 0;
                    border: solid 1px #7d8587; 
                    height: 100px;
                }
                
            }
        }
    }
}
.phone {
    width: 240px;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    color: #14141d;
}

    // HEADER - - - - - - - - - - - - -- - - - -  - - - - - - -



    // ABOUT-REST - - - - - - - - - - - - - - - - - - - - - - - 
.about-rest {
    height: 520px;
    .container {
        height: inherit;
        .row {
            height: inherit;
        }
    }
}
.left-item {
    margin-top: 110px;
    .text-wr {
        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 35px;
            font-weight: bold;
            color: #14141d;
            margin-bottom: 25px;
        }
        p {
            font-family: 'Sintony', serif;
            font-size: 14px;
            color: #676d73;
            line-height: 25px;
        }
    }
}

.readMore {
    margin-top: 30px;
    .btn-read {
        width: 150px;
        height: 50px;
        background: #fea100;
        border: solid 0px;
        border-radius: 5px;
        color: white;
        font-family: 'Sintony', serif;
        font-weight: bold;
        font-size: 14px;
    }
    img {
        width: 236px;
        height: 71px;
        margin: auto auto auto 45px;
    }
}
.img-wr {
    margin-top: 67px;
    .imgs {
        img {
            display: block;
            width: 270px;
            height: 150px;
            border: solid 1px rgba(109, 109, 109, 0.164);
        }
    }
    .imgs:first-child {
        margin-top: 34px;
    }
}

     // ABOUT-REST - - - - - - - - - - - - - - - - - - - - - - - 


    //  MENU - - - - - - - - - - - - - - - - - - - - - - - - - - 

    .menu-wr {
        position: relative;
        height: 870px;
    }
    .today-back-wr {
        height: 440px;
        background-image: url(../backgrounds/back3.png);
        background-attachment: fixed;
    }
    .food-menu {
    }
    .today-container {
        position: absolute;
        top: 7%;
        left: 0;
        right: 0;
    }
    .today-slider-wr {
        .slider-text {
            margin-bottom: 20px;
            h2 {
            font-family: 'Playfair Display', serif;
            font-size: 35px;
            font-weight: bold;
            color: white;
            margin: 0;
            }
        }
        .special-btn-wr {
            position: absolute;
            right: 0;
            top: 20px;
            .btn-today {
                position: relative;
                border: solid 2px #fea100;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: none;
                padding: 0;
                margin-bottom: 4px;
                .dot {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    border: solid 1px #fea100;
                    border-radius: 50%;
                    width: 4px;
                    height: 4px;
                    margin: auto;
                    background: #fea100;
                }
            }
        }
    }
.special-card {
    height: 730px;
    padding: 0;
    margin: 0;
    img {
        width: 100%;
        height: 420px;
        background-size: 100%;
    }
    .card-content {
        -webkit-box-shadow: 0px 6px 13px 0px  #eaeaea; 
        box-shadow: 0px 6px 13px 0px #eaeaea;
        height: 310px;
        .card-info {
            padding: 50px;
            h5 {
                font-family: 'Playfair Display', serif;
                font-size: 25px;
                font-weight: bold;
                color: #14141d;
            }
            p {
                font-family: 'Sintony', serif;
                font-size: 14px;
                color: #7d8287;
                margin: 0;
            }
        }
        hr {
            margin: 0;
            border: solid 1px #e1e1e1;
        }
        .card-price {
            padding: 20px;
            p {
                text-align: left;
                font-family: 'Sintony', serif;
                font-weight: bold;
                font-size: 13px;
                width: 90px;
                border-right: solid 1px #e1e1e1;
                margin: 0;
                span {
                    color: #fe70a4;
                }
            }
            h4 {
                font-family: 'Playfair Display', serif;
                font-size: 26px;
                font-weight: bold;
                margin: 0;
                color: #14141d;
            }
            h3 {
                font-family: 'Playfair Display', serif;
                font-size: 30px;
                font-weight: bold;
                color: #fea100;
                margin: 0;
            }
        }
    }
}


.food-menu-wr {
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
}
.food-advertising {
    position: absolute;
    left: 0;
    width: 163px;
    height: 414px;
    img {
        width: 163px;
        height: 414px;
    }
}
.food-menu {
 hr {
    border: dotted 1px;
 }
}

.choose-section {
    border-bottom: dashed 1px #a3b0ba;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.sections {
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-grid;
            margin: 25px 25px 0px 25px;
            height: 50px;
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            font-weight: bold;
            i {
                color: orange;
            }
        }
        li:hover {
            i {
               color: #fe77a8;
        }
       }
    }
}

.dishes-wr {
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 20px;
    min-width: 350px;
    max-width: 530px;
    .dishes-name {
        h6 {
            font-family: 'Sintony', sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: #14141d;
            margin-bottom: 0;
        }
        p {
            font-family: 'Sintony', sans-serif;
            font-size: 14px;
            color: #676d73;
        }
    }
    .dishes-price {
        h3 {
            font-family: 'Playfair Display', serif;
            font-size: 26px;
            font-weight: bold;
            color: #fea100;
        }
    }
}
.explore-btn-wr {
    button {
        width: 200px;
        height: 50px;
        background: #fea100;
        color: white;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        font-size: 14px;
        border: solid 0px;
        border-radius: 5px;
    }
}
    //  MENU - - - - - - - - - - - - - - - - - - - - - - - - - - 

    // HAPPY CLIENT - - - - - - - - - - - - - - - - - - - - - - -

    .client-wr {
        height: 460px;
        background: url(../backgrounds/happyClientBackground.png) no-repeat;
        position: relative;
        .client-img {
            position: absolute;
            top: -35%;
            left: 70%;
            border: solid 1px black;
            width: 241px;
            height: 241px;
        }
    }
    .client-pos {
        position: absolute;
        top: 16%;
        left: 10%;
        right: 10%;
        bottom: 0%;
    }
    .slider-client-wr {
        .client-arrow {
            color: white;
            font-size: 120px;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: 100;
        }
        .slider-client {
            position: relative;
            h2 {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 35px;
                color: white;
            }
            p {
                font-family: 'Sintony', serif;
                font-size: 15px;
                color: white;
                line-height: 25px;
            }
            .client-text:before {
                content:"❝";
                position: absolute;
                left: -7%;
                font-size: 55px;
            }
            .client-text:after {
                content: "❞ ";
                position: absolute;
                left: 103%;
                top: 105%;
                font-size: 55px;
            }
        }
    }
    .client-avatar {
        p {
            font-family: 'Sintony', serif;
            font-weight: bold;
            font-size: 16px;
        }
    }
    .star-wr {
        color: #fff221;
    }
    .client-content {
        padding: 5px;
        display: none;
        transition: 0.5s;
        transition: 0.3s;
        -webkit-animation-name: fade;
        animation-duration: 1s;
    }
    @keyframes fade {
        from{opacity: 0.2;
        background: white;
        font-size: 2px;
        border: solid 0px white;
        border-radius: 10px;
    }
        to{opacity: 1;
        background:none;
        border:solid 0px white;
        border-radius: 10px;
    }

    }
    .content-visible {
        display: block!important;
        
    }
    .animat {
        transform: translateX(100px);
        transition: 1s;
    }




    // HAPPY CLIENT - - - - - - - - - - - - - - - - - - - - - - -




    // RESERVE YOUR TABLE - - - - - - - - - - - - - - - - - - - -
    .reserve-table {
        padding: 100px 0px 100px 0px;
    }
    .reserve-h {
        margin-bottom: 35px;
        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 35px;
            margin: 0;
        }
    }
    .reserve-img-wr {
        img {
            height: 334px;
        }
    }
    .form-wr {
        form {
            .reserve-input {
                padding-top: 25px;
                padding-left: 10px;
                .input-wr {
                    display: flex;
                    border: none;
                    border-bottom: solid 1px #a3b0ba;
                    height: 35px;
                    margin-bottom: 35px;
                    input {
                        border: none;
                        padding: 0 0 0 0;
                        font-family: 'Sintony', serif;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    i {
                        padding: 7px 0 0 0;
                        margin: auto;
                    }
                }
                .input-wr:nth-child(3) {
                    margin-bottom: 0;
                }
            }
        }
        .reserve-info-wr {
            margin-top: 45px;
            padding-left: 10px;
            button {
                width: 195px;
                height: 50px;
                background: #fea100;
                border: solid 0px;
                border-radius: 5px;
                font-family: 'Sintony', serif;
                font-size: 14px;
                font-weight: bold;
                color: white;
            }
            .reserve-info-text {
                display: grid;
                border-right: solid 1px #e1e1e1;
                font-family: 'Sintony', serif;
                font-weight: bold;
                font-size: 13px;
                margin: 0;
                padding-top: 7px;
                width: 170px;
                span {
                    color: #fe4c8d;
                }
            }
        }
    }


    // RESERVE YOUR TABLE - - - - - - - - - - - - - - - - - - - -



    // FOOTER - - - - - - - - - - - - - - - - - - - - - - - - - - 
    footer {
        background: #373844;
        height: 500px;
        padding: 60px 0 60px 0;
    }
    .footer-wr {
        margin-top: 40px;
        .footer-navigation {
            ul {
                padding: 0;
                margin-bottom: 0;
                li {
                    list-style-type: none;
                    color: #93989e;
                    font-family: 'Sintony', serif;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 9px;
                }
            }
        }
        .footer-news {
            form {
                label {
                    font-family: 'Sintony', serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: #93989e;
                    margin-bottom: 15px;
                }
                .footer-input-wr {
                    border: solid 1px #52535e;
                    border-radius: 5px;
                    height: 50px;   
                    padding: 10px;
                    padding-left: 12px;
                    width: 310px;
                    display: inline-block;
                    input {
                        height: 21px;
                        background: none;
                        color: #dde0e2;
                        border: none;
                    }
                    i {
                        color: #fea100;
                    }
                }
                button {
                    width: 140px;
                    height: 50px;
                    background: #fea100;
                    color: #ffffff;
                    font-family: 'Sintony', serif;
                    font-size: 14px;
                    border: none;
                    border-radius: 5px;
                    margin-left: 5px;
                }
            }
            .footer-media {
                margin-top: 35px;
                button {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    margin-right: 7px;
                    border: none;
                    i {
                        font-size: 18px;
                        color: white;
                    }
                }
                button:first-child {
                    background: #3b5998;
                }
                button:nth-child(2) {
                    background: #55acee;
                }
                button:nth-child(3) {
                    background: #dd4b39;
                }
            }
        }
        .footer-apps {
            .apps-wr {
                div {
                    max-width: 220px;
                    height: 60px;
                    border: none;
                    border-radius: 5px;
                    background: #52535e;
                    color: #edf1f3;
                    font-family: 'Sintony', serif;
                    font-size: 12px;
                    p {
                        width: 110px;
                        display: grid;
                        span {
                            font-family: inherit;
                            font-size: 18px;
                        }
                    }
                }
                .apps {
                    padding: 10px;
                    margin-bottom: 12px;
                    i {
                        color: white;
                        font-size: 32px;
                    }
                }
            }
        }
    }
    .footer-h {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 25px;
    }



    // FOOTER - - - - - - - - - - - - - - - - - - - - - - - - - - 