@charset "UTF-8";
.nav-ul {
  list-style-type: none; }
  .nav-ul li {
    margin-right: 30px;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    font-weight: bold; }
    .nav-ul li a {
      padding-left: 0px !important;
      padding-right: 0px !important;
      color: #2c465a !important; }
  .nav-ul li:last-child {
    margin-right: 0; }

.book-wr .book-your-table {
  width: 200px;
  height: 45px;
  background: #fea100;
  border: solid 0px;
  border-radius: 5px;
  position: relative; }
  .book-wr .book-your-table span {
    border: solid 1px white;
    border-radius: 5px;
    margin: 2px;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .book-wr .book-your-table span p {
      margin: auto !important;
      font-family: 'Sintony', sans-serif;
      font-weight: bold;
      color: white;
      font-size: 14px; }
    .book-wr .book-your-table span img {
      height: 17px;
      margin: auto;
      margin-right: 0; }
.book-wr .ulList {
  padding: 0;
  position: relative; }
  .book-wr .ulList li {
    margin: 0;
    list-style: none;
    display: none;
    color: red; }
.book-wr .ulList:after {
  content: '▼';
  font-size: 50%;
  color: black;
  position: absolute;
  bottom: 0px;
  left: -5px; }

.opens {
  display: block !important;
  position: absolute;
  top: 50px;
  right: 15px;
  width: 10%;
  height: 100%;
  margin-bottom: 5px; }

.close:after {
  content: '⚑';
  position: relative;
  top: -60px;
  right: 15px;
  font-size: 50%;
  color: black; }

.slider-wr {
  background-image: url(../pictures/sheet.jpg);
  height: 570px; }
  .slider-wr .slider {
    height: inherit; }
    .slider-wr .slider .slider-buttons {
      margin-left: 30px;
      box-sizing: border-box;
      top: 50%; }
      .slider-wr .slider .slider-buttons .btn {
        position: relative;
        border: solid 2px #fea100;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: none;
        padding: 0;
        margin-bottom: 4px; }
        .slider-wr .slider .slider-buttons .btn .dot {
          position: absolute;
          left: 0px;
          top: 0px;
          bottom: 0px;
          right: 0px;
          border: solid 1px #fea100;
          border-radius: 50%;
          width: 4px;
          height: 4px;
          margin: auto;
          background: #fea100; }

.call-info-wr {
  display: block;
  height: 100px;
  background: #edf1f3; }
  .call-info-wr .container {
    height: inherit; }
    .call-info-wr .container .row {
      height: inherit; }
      .call-info-wr .container .row .sticker-wr {
        height: inherit;
        position: relative; }
        .call-info-wr .container .row .sticker-wr .food-sticker {
          position: absolute;
          bottom: 20px;
          width: 200px;
          height: 200px;
          background: #fe4c8d;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 70%, 0 100%);
          clip-path: polygon(0px 0, 200px 0, 200px 100%, 100px 85%, 0 100%); }
          .call-info-wr .container .row .sticker-wr .food-sticker .line {
            position: relative;
            margin: 10px;
            border: dashed 2px #ffa6c6;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 69%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
            height: 175px;
            width: 180px; }
            .call-info-wr .container .row .sticker-wr .food-sticker .line p {
              font-family: "Sintony", sans-serif;
              font-size: 22px;
              font-weight: bold;
              position: absolute;
              top: 30%;
              right: 15%;
              bottom: 0;
              left: 13%;
              text-align: center;
              color: white; }
        .call-info-wr .container .row .sticker-wr .circle-wr {
          position: absolute;
          bottom: 170px;
          left: 26%;
          z-index: 600; }
          .call-info-wr .container .row .sticker-wr .circle-wr .circle {
            width: 80px;
            height: 80px;
            border: solid 4px #fe4c8d;
            border-radius: 50%;
            background: black; }
            .call-info-wr .container .row .sticker-wr .circle-wr .circle img {
              margin: 9px 8px 0 13px; }
      .call-info-wr .container .row .call-info .reviews-wr {
        margin-right: 30px;
        width: 210px; }
        .call-info-wr .container .row .call-info .reviews-wr p {
          font-family: "Sintony", sans-serif;
          font-weight: bold;
          color: #14141d;
          font-size: 16px;
          line-height: 1rem;
          margin-left: 5px !important;
          margin-right: 17px !important; }
          .call-info-wr .container .row .call-info .reviews-wr p span {
            color: #fea100; }
        .call-info-wr .container .row .call-info .reviews-wr .btn-wr {
          background: #fea100;
          width: 45px;
          height: 45px;
          border: solid 0px;
          border-radius: 50%;
          position: relative; }
          .call-info-wr .container .row .call-info .reviews-wr .btn-wr button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 35px;
            width: 35px;
            margin: auto;
            border: solid 1px white;
            border-radius: 50%;
            background: none; }
          .call-info-wr .container .row .call-info .reviews-wr .btn-wr button::after {
            position: absolute;
            top: -2px;
            bottom: 0;
            left: 0;
            right: 0;
            content: ">";
            font-weight: bold;
            font-size: 22px;
            margin: auto; }
      .call-info-wr .container .row .call-info .home-deliver {
        line-height: 1rem;
        margin-left: 35px;
        width: 220px;
        padding: 13px !important;
        position: relative; }
        .call-info-wr .container .row .call-info .home-deliver span {
          font-size: 14px;
          font-family: "Sintony", sans-serif;
          font-weight: bold;
          margin: auto auto auto 10px; }
          .call-info-wr .container .row .call-info .home-deliver span span {
            color: #fea100; }
      .call-info-wr .container .row .call-info .home-deliver:after {
        content: "";
        position: absolute;
        top: 25%;
        right: 7%;
        border: solid 1px #7d8587;
        height: 35px; }
      .call-info-wr .container .row .call-info .home-deliver:before {
        content: "";
        position: absolute;
        top: -17%;
        left: 0;
        border: solid 1px #7d8587;
        height: 100px; }
      .call-info-wr .container .row .call-info .phone {
        width: 240px; }
        .call-info-wr .container .row .call-info .phone p {
          font-family: 'Playfair Display', serif;
          font-size: 32px;
          font-weight: bold;
          color: #14141d; }

.about-rest {
  height: 520px; }
  .about-rest .container {
    height: inherit; }
    .about-rest .container .row {
      height: inherit; }

.left-item {
  margin-top: 110px; }
  .left-item .text-wr h2 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: bold;
    color: #14141d;
    margin-bottom: 25px; }
  .left-item .text-wr p {
    font-family: 'Sintony', serif;
    font-size: 14px;
    color: #676d73;
    line-height: 25px; }

.readMore {
  margin-top: 30px; }
  .readMore .btn-read {
    width: 150px;
    height: 50px;
    background: #fea100;
    border: solid 0px;
    border-radius: 5px;
    color: white;
    font-family: 'Sintony', serif;
    font-weight: bold;
    font-size: 14px; }
  .readMore img {
    width: 236px;
    height: 71px;
    margin: auto auto auto 45px; }

.img-wr {
  margin-top: 67px; }
  .img-wr .imgs img {
    display: block;
    width: 270px;
    height: 150px;
    border: solid 1px rgba(109, 109, 109, 0.164); }
  .img-wr .imgs:first-child {
    margin-top: 34px; }

.menu-wr {
  position: relative;
  height: 870px; }

.today-back-wr {
  height: 440px;
  background-image: url(../backgrounds/back3.png);
  background-attachment: fixed; }

.food-menu {
  height: 1230px; }

.today-container {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0; }

.today-slider-wr .slider-text {
  margin-bottom: 20px; }
  .today-slider-wr .slider-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin: 0; }
.today-slider-wr .special-btn-wr {
  position: absolute;
  right: 0;
  top: 20px; }
  .today-slider-wr .special-btn-wr .btn-today {
    position: relative;
    border: solid 2px #fea100;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: none;
    padding: 0;
    margin-bottom: 4px; }
    .today-slider-wr .special-btn-wr .btn-today .dot {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      border: solid 1px #fea100;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      margin: auto;
      background: #fea100; }

.special-card {
  height: 730px;
  padding: 0;
  margin: 0; }
  .special-card img {
    width: 100%;
    height: 420px;
    background-size: 100%; }
  .special-card .card-content {
    -webkit-box-shadow: 0px 6px 13px 0px  #eaeaea;
    box-shadow: 0px 6px 13px 0px #eaeaea;
    height: 310px; }
    .special-card .card-content .card-info {
      padding: 50px; }
      .special-card .card-content .card-info h5 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        font-weight: bold;
        color: #14141d; }
      .special-card .card-content .card-info p {
        font-family: 'Sintony', serif;
        font-size: 14px;
        color: #7d8287;
        margin: 0; }
    .special-card .card-content hr {
      margin: 0;
      border: solid 1px #e1e1e1; }
    .special-card .card-content .card-price {
      padding: 20px; }
      .special-card .card-content .card-price p {
        text-align: left;
        font-family: 'Sintony', serif;
        font-weight: bold;
        font-size: 13px;
        width: 90px;
        border-right: solid 1px #e1e1e1;
        margin: 0; }
        .special-card .card-content .card-price p span {
          color: #fe70a4; }
      .special-card .card-content .card-price h4 {
        font-family: 'Playfair Display', serif;
        font-size: 26px;
        font-weight: bold;
        margin: 0;
        color: #14141d; }
      .special-card .card-content .card-price h3 {
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        font-weight: bold;
        color: #fea100;
        margin: 0; }

.food-menu-wr {
  margin-top: 60px;
  position: relative; }

.food-advertising {
  position: absolute;
  left: 0;
  width: 163px;
  height: 414px; }
  .food-advertising img {
    width: 163px;
    height: 414px; }

.food-menu hr {
  border: dotted 1px; }

.choose-section {
  border-bottom: dashed 1px #a3b0ba;
  padding-bottom: 25px;
  margin-bottom: 50px; }

.sections ul {
  text-align: center;
  margin: 0; }
  .sections ul li {
    display: inline-grid;
    margin: 25px 25px 0px 25px;
    height: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold; }
    .sections ul li i {
      color: orange; }
  .sections ul li:hover i {
    color: #fe77a8; }

.dishes-wr {
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 20px;
  min-width: 350px;
  max-width: 530px; }
  .dishes-wr .dishes-name h6 {
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #14141d;
    margin-bottom: 0; }
  .dishes-wr .dishes-name p {
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    color: #676d73; }
  .dishes-wr .dishes-price h3 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: bold;
    color: #fea100; }

.explore-btn-wr button {
  width: 200px;
  height: 50px;
  background: #fea100;
  color: white;
  font-family: 'Sintony', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: solid 0px;
  border-radius: 5px; }

/*# sourceMappingURL=main.css.map */
